In [ ]:
# title: tfcb_2020_capstone_cwc
# author: Cara Chao
# date: 2020-12-13

In [17]:
import re
import Bio.SeqIO
import matplotlib.pyplot as plt # for plotting
import pandas as pd # pandas
import seaborn as sns
import numpy as np
from sklearn.decomposition import PCA

glaucdata_whole = pd.read_csv('doi_10.5061_dryad.q6ft5__v1/dataset/ds_whole.csv')
glaucdata_train = pd.read_csv('doi_10.5061_dryad.q6ft5__v1/dataset/ds_train.csv')
glaucdata_test = pd.read_csv('doi_10.5061_dryad.q6ft5__v1/dataset/ds_test.csv')

,RL,glaucoma,age,ocular_pressure,MD,PSD,GHT,cornea_thickness,RNFL4.mean
0,OD,0,62,17,-0.54,1.81,0,558,103.333333
1,OS,0,62,17,-0.64,1.38,0,564,107.666667
2,OD,0,66,12,-1.65,2.89,2,490,162.000000
3,OS,0,66,12,-1.14,3.88,2,495,99.000000
4,OD,1,53,24,-2.90,3.78,2,547,74.666667
...,...,...,...,...,...,...,...,...,...
494,OS,0,13,15,-2.44,2.49,0,531,109.666667
495,OD,0,55,15,-1.21,2.17,0,562,109.333333
496,OS,0,55,16,-0.84,1.86,0,566,110.333333
497,OD,0,55,18,-0.43,1.91,0,545,120.666667
498,OS,0,55,18,-0.62,2.46,0,542,111.666667

In [ ]:
#determining how many patients in this sample are/are not diagnosed with glaucoma